:root {
	/* Color palette */
	--text: #322F4A;
	--background: #D2C1B1;
	--accent: #e6551c;
	--on-accent: #FFF;

	--background-gr: radial-gradient(circle, rgba(211, 198, 181, 1) 0%, rgba(185, 165, 140, 1) 100%);

	--heading-font: 'Melodrama', serif;
	--body-font: 'Gambetta', serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("/table.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	background-attachment: fixed;

	color: var(--text);
	font-family: var(--body-font);
	position: fixed;
	inset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
}