:root {
	/* Colors */
	--almond: #E0D0C1;
	--beaver: #b49082ff;
	--chestnut: #98473eff;
	--copper: #a37c40ff;
	--rich-black: #07090fff;

	/* Color palette */
	--text: var(--rich-black);
	--background: var(--almond);
	--on-background: var(--beaver);
	--secondary: var(--chestnut);
	--on-secondary: var(--almond);
	--accent: var(--copper);
	--on-accent: var(--almond);

	--heading-font: 'Melodrama', serif;
	--body-font: 'Gambetta', serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	color: var(--rich-black);
	font-family: var(--body-font);
	position: fixed;
	inset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
}